.activateModal
    display block
    position absolute
    z-index 9000
    left 0
    right 0
    margin 0 auto
    top 10%
    width 945px
    background-color #fff9ea
    padding 50px 60px 30px
    transition all .6s ease
    transform translateY(-1000px)
.activateModalShow
    transform translateY(0)
.activateModalClose
    display block
    position absolute
    right 20px
    top 20px
.activateModalHeader
    display block
    position relative
    font-family 'Raleway', sans-serif
    font-size 30px
    font-weight 300
    letter-spacing 0.16em
    margin-bottom 28px
    text-align center
    color #4a4a4a

.activateModalFormRow
    display block
    box horizontal top space-between
.activateModalFormCenter
    display block
    padding-top 20px
    box vertical center
    .activateModalFormItem
        //text-align center
        margin-bottom 37px
    .buttonOutlineGreen

        width 60%
        margin 0 auto
        display block
.activateModalFormColumn
    lost-column 1/2 flex
.activateModalFormItem
    display block
    width 100%
    margin-bottom 10px
    .buttonFillGreen
        width 100%
        margin-top 31px
    p
        font-family 'Raleway', sans-serif
        font-size 16px
        font-weight 600
        letter-spacing 0.12em
        line-height 22px
        color #4a4a4a
        text-align center
.activateModalFormItemMiddle
    box horizontal middle
.activateModalFormItemHeader
    flex 0 1 auto
    font-family 'Raleway', sans-serif
    font-size 18px
    font-weight 200
    letter-spacing 0.11em
    line-height 22px
    color #4a4a4a
    margin-right 10px
.activateModalFormItemPadding
    padding 10px 0
