.breadcrumbs
    flex 0 1 auto
    box horizontal middle
.breadcrumbsItem
    font-family 'Raleway', sans-serif
    font-size 20px
    font-weight 300
    letter-spacing 0.11em
    color #fff
    margin-right 20px
    text-transform uppercase
