.cateringCards
    display block
    size 100%
    box horizontal top space-between
    flex-wrap wrap
.cateringCard
    display block
    position relative
    flex 0 1 auto
    width 50%
    height 50vh
    overflow hidden
    &:hover
        .cateringCardImage
            transform scale(1.2)
        .cateringCardGradient
            opacity .3
.cateringCardImage
    display block
    position absolute
    size 100%
    transition transform .3s ease
    will-change transform
    background-repeat no-repeat
    background-size cover
    background-position center center

.cateringCardGradient
    display block
    position absolute
    size 100%
    opacity .25
    background-image linear-gradient(to bottom, rgba(0,0,0,0), #000)
    //background-color #000
    transition opacity .3
    will-change opacity

.cateringCardContent
    display block
    position relative
    size 100%
    a
        display block
        position absolute
        left center
        top center
        height 60px
        border solid 1px #ffffff
        width 50%
        text-align center
        line-height 60px
        color #fff
        font-family 'Raleway', sans-serif
        font-size 28px
        font-weight 300
        letter-spacing 0.08em
        text-decoration none
        &:after
            display block
            position absolute
            content ''
            width 100%
            height 60px
            border solid 1px #ffffff
            top -5px
            left -5px
