// @import './../../stylusMixin/libs'
// normalize()
@reset-global pc
*
    box-sizing border-box
    -webkit-font-smoothing antialiased
    -webkit-overflow-scrolling none

a:focus
    outline 0

html
    height 100%
    min-width 320px

body
    position relative
    min-height 100%
    //overflow hidden

.NoScroll
    overflow hidden