[type="checkbox"]:not(:checked),
[type="checkbox"]:checked
    position absolute
    left -9999px

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label
    position relative
    padding-left 35px
    cursor pointer
    display table-cell

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before
    content ''
    position absolute
    left 0
    top 2px
    size 18px
    border solid 1px #4a4a4a
    background transparent


[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after
    content ''
    background-image inline("iconCheckbox.svg")
    background-repeat no-repeat
    background-position center center
    position absolute
    top 3px
    left 2px
    font-size 18px
    size 17px
    line-height 0.8
    color #09ad7e
    transition all .2s

[type="checkbox"]:not(:checked)
    & + label
        &:after
            opacity 0
            transform scale(0)

[type="checkbox"]:checked
    & + label
        &:after
            opacity 1
            transform scale(1)

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before
    box-shadow none
    border-color #111


[type="checkbox"]:disabled
    &:checked
        & + label
            &:after
                color #999
    & + label
        color #aaa

// [type="checkbox"]:checked:focus + label:before,
// [type="checkbox"]:not(:checked):focus + label:before
//     border 1px dotted blue

.labelCheckbox
    &:hover
        &:before
            border 1px solid #000 !important
