.labelCheckbox
    padding-top 5px
    font-family 'Raleway', sans-serif
    font-size 14px
    line-height 18px
    font-weight 300
    letter-spacing 0.12em
    color #4a4a4a
    input
        margin-right 8px
        flex 0 1 auto
    span
        flex 0 1 auto

.label
    display block
    width 100%
    font-family 'Raleway', sans-serif
    font-size 18px
    font-weight 200
    letter-spacing 0.08em
    color #4a4a4a
    margin-bottom 9px
