.mainMenu
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/moskow-medium.jpg)")
        a(href="/index") 
            .mainMenuItemText РЕСТОРАНЫ
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/moskow-medium.jpg)")
        a(href="/index") 
            .mainMenuItemText ЛАВКА СЧАСТЬЯ
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/moskow-medium.jpg)")
        a(href="/index") 
            .mainMenuItemText ШОКОЛАДНАЯ ФАБРИКА
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/moskow-medium.jpg)")
        a(href="/index") 
            .mainMenuItemText МЫ
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/moskow-medium.jpg)")
        a(href="/index") 
            .mainMenuItemText КЕЙТЕРИНГ
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/moskow-medium.jpg)")
        a(href="/index") 
            .mainMenuItemText ФРАНЧАЙЗИНГ
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/moskow-medium.jpg)")
        a(href="/index") 
            .mainMenuItemText ФЕСТИВАЛИ
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/moskow-medium.jpg)")
        a(href="/index") 
            .mainMenuItemText COMMUNITY
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/moskow-medium.jpg)")
        a(href="/index") 
            .mainMenuItemText КОНТАКТЫ        
