.mainMenu
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/menu_restaurants.jpg)")
        a(href="/schastye/html/public/index.html") 
            .mainMenuItemText РЕСТОРАНЫ
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/menu_lavka.jpg)")
        a(href="/schastye/html/public/lavka.html") 
            .mainMenuItemText ЛАВКА СЧАСТЬЯ
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/menu_fabric.jpg)")
        a(href="/schastye/html/public/fabric.html") 
            .mainMenuItemText ШОКОЛАДНАЯ ФАБРИКА
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/menu_we.jpg)")
        a(href="/schastye/html/public/we.html") 
            .mainMenuItemText МЫ
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/menu_catering.jpg)")
        a(href="/schastye/html/public/catering.html") 
            .mainMenuItemText КЕЙТЕРИНГ
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/menu_franchasing.jpg)")
        a(href="/schastye/html/public/franchising.html") 
            .mainMenuItemText ФРАНЧАЙЗИНГ
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/menu_festivals.jpg)")
        a(href="/schastye/html/public/festival.html") 
            .mainMenuItemText ФЕСТИВАЛИ
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/menu_community.jpg)")
        a(href="/schastye/html/public/communite.html") 
            .mainMenuItemText COMMUNITY
    .mainMenuItem
        .mainMenuItemGradient
        .mainMenuItemBackground(style="background-image: url(img/menu_contacts.jpg)")
        a(href="/schastye/html/public/contact.html") 
            .mainMenuItemText КОНТАКТЫ        
