.restaurantMenu
    display block
    position relative
    size 100vw 100vh
    background-image url("../img/menu_back.jpg")
    background-size cover
.restaurantMenuTitle
    display block
    position absolute
    background-color #fceecd
    size 150px
    border-radius 50%
    a
        display block
        position absolute
        border solid 1px #282c30
        background-color #fceecd
        size 140px
        margin-top 5px
        margin-left 5px
        border-radius 50%
        box horizontal middle center
        text-decoration none
        span
            font-family 'BebasNeue'
            font-size 18px
            letter-spacing 0.6px
            text-align center
            text-transform uppercase

            color #282c30
.restaurantMenuBar
    display block
    position absolute
    top 5%
    left -5%
    .restaurantMenuTitle
        top 175px
        left 223px

.restaurantMenuKitchen
    display block
    position absolute
    top 0%
    left center
    .restaurantMenuImage
        transform scale(1.1)
    .restaurantMenuTitle
        top 175px
        left 223px

.restaurantMenuSummer
    display block
    position absolute
    top 10%
    right 5%
    .restaurantMenuTitle
        top 145px
        left 223px

.restaurantMenuDesert
    display block
    position absolute
    top 40%
    left -5%
    z-index 1
    .restaurantMenuTitle
        top 145px
        left 193px

.restaurantMenuBreakfast
    display block
    position absolute
    bottom -10%
    right 5%
    .restaurantMenuTitle
        top 145px
        left 193px
    .restaurantMenuTitle
        background-color #282c30
        a
            border-color #fceecd
            background-color #282c30
            span
                color #fceecd

.restaurantMenuKids
    display block
    position absolute
    bottom -10%
    left 12%
    .restaurantMenuTitle
        top 145px
        left 193px

.restaurantMenuCard
    display block
    position absolute
    bottom -10%
    left center
