doctype
html
    head
        title Счастье
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, user-scalable=yes")
        link(href='./css/woff.css', type="text/css", rel="stylesheet")
        link(href='./css/blocks.css', type="text/css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600" rel="stylesheet")
        //-link(rel="stylesheet" href="./css/fonts.css")
        //- include _favicon.jade
        <!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
        <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
        include _svg.jade
        include _mixin.jade


    body.NoScroll
        include block/mainMenu
        include block/header
        include block/activate
        block content

        script(src="./js/app.js")
