extends _layout

block content
    .communite
        .cateringCards
            .cateringCard
                .cateringCardImage(style="background-image:url(img/catering1.jpg)")
                .cateringCardGradient
                .cateringCardContent
                    a(href="#") Оформление
            .cateringCard
                .cateringCardImage(style="background-image:url(img/catering2.jpg)")
                .cateringCardGradient
                .cateringCardContent
                    a(href="#") МОМЕНТЫ «СЧАСТЬЯ»

            .cateringCard
                .cateringCardImage(style="background-image:url(img/catering3.jpg)")
                .cateringCardGradient
                .cateringCardContent
                    a(href="#") ОТЗЫВЫ И КЛИЕНТЫ
            .cateringCard
                .cateringCardImage(style="background-image:url(img/catering4.jpg)")
                .cateringCardGradient
                .cateringCardContent
                    a(href="#") ОФОРМИТЬ ЗАКАЗ
