extends _layout

block content
    .communite
        .communitePages
            .communitePage(style="background-image:url(img/community-news.jpg)")
                .communitePageGradient
                a(href="/schastye/html/public/community-news.html") НОВОСТИ
            .communitePage(style="background-image:url(img/community-community.jpg)")
                .communitePageGradient
                a(href="/schastye/html/public/communite-cards.html") COMMUNITY
            .communitePage(style="background-image:url(img/community-press.jpg)")
                .communitePageGradient
                a(href="/schastye/html/public/community-press.html") ПРЕССА О НАС
