extends _layout

block content
    .communite
        .communiteCards
            .communiteCard
                .communiteCardImage(style="background-image:url(img/community1.jpg)")
                .communiteCardGradient
                .communiteCardContent
                    h2 ДЕТСКИЙ ОБРАЗОВАТЕЛЬНЫЙ ДОМ ДЛЯ ДЕТЕЙ БЕЗ РОДИТЕЛЕЙ
                    p Натуральные материалы и фактуры, обилие света и «теплые» детали интерьера. Счастье-это просто, органично и, главное, уютно. Дети предметы. Счастье-это просто, органично и, главное, уютно.
                    button.buttonOutline
                        | ПОДРОБНЕЕ
                        +svgIcon('iconButtonArrow')
            .communiteCard
                .communiteCardImage(style="background-image:url(img/community2.jpg)")
                .communiteCardGradient
                .communiteCardContent
                    h2 РАЗВИТИЕ ПРОФЕССИИ КОНДИТЕРА
                    p Натуральные материалы и фактуры, обилие света и «теплые» детали интерьера. Счастье-это просто, органично и, главное, уютно. Дети предметы. Счастье-это просто, органично и, главное, уютно.
                    button.buttonOutline
                        | ПОДРОБНЕЕ
                        +svgIcon('iconButtonArrow')

            .communiteCard
                .communiteCardImage(style="background-image:url(img/community3.jpg)")
                .communiteCardGradient
                .communiteCardContent
                    h2 ИНИЦИАТИВЫ
                    p Натуральные материалы и фактуры, обилие света и «теплые» детали интерьера. Счастье-это просто, органично и, главное, уютно. Дети предметы. Счастье-это просто, органично и, главное, уютно.
                    button.buttonOutline
                        | ПОДРОБНЕЕ
                        +svgIcon('iconButtonArrow')

            .communiteCard
                .communiteCardImage(style="background-image:url(img/community4.jpg)")
                .communiteCardGradient
                .communiteCardContent
                    h2 ФОНД «СОЛНЦЕ»
                    p Натуральные материалы и фактуры, обилие света и «теплые» детали интерьера. Счастье-это просто, органично и, главное, уютно. Дети предметы. Счастье-это просто, органично и, главное, уютно.
                    button.buttonOutline
                        | ПОДРОБНЕЕ
                        +svgIcon('iconButtonArrow')
