extends _layout

block content
    .festivals
        .festivalsSliders.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .festivalsSlideImage(style="background-image: url(img/festival1.jpg)")
                        .festivalsSlideImageGradient
                        .festivalsSlideContent
                            time 21-23 марта
                            h2 ФЕСТИВАЛЬ В КАРЕЛИИ
                            p Петрозаводск, озеро Долгопрудное
                    .festivalsSlideMiddle
                        p Французское кондитерское изделие из яичных белков, сахарной пудры, сахарного песка, молотого миндаля и пищевых красителей. Обычно делается в форме печенья; между двумя слоями кладут крем или варенье. Название происходит от слова ammaccare (итал. maccarone/maccherone) — «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.Французское кондитерское изделие из яичных белков, сахарной пудры, сахарного песка, молотого миндаля и пищевых красителей. 
                    .festivalsSlideBottom
                        .festivalsSlidePhoto(style="background-image: url(img/festival-photo.jpg)")
                            .festivalsSlidePhotoGradient
                            a(href="#") Фото и видео
                        .festivalsSlideGuests(style="background-image: url(img/festival-guests.jpg)")
                            .festivalsSlideGuestsGradient
                            a(href="#") Наши гости
                .swiper-slide
                    .festivalsSlideImage(style="background-image: url(img/festival1.jpg)")
                        .festivalsSlideImageGradient
                        .festivalsSlideContent
                            time 21-23 марта
                            h2 ФЕСТИВАЛЬ В КАРЕЛИИ
                            p Петрозаводск, озеро Долгопрудное
                    .festivalsSlideMiddle
                        p Французское кондитерское изделие из яичных белков, сахарной пудры, сахарного песка, молотого миндаля и пищевых красителей. Обычно делается в форме печенья; между двумя слоями кладут крем или варенье. Название происходит от слова ammaccare (итал. maccarone/maccherone) — «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.Французское кондитерское изделие из яичных белков, сахарной пудры, сахарного песка, молотого миндаля и пищевых красителей. 
                    .festivalsSlideBottom
                        .festivalsSlidePhoto(style="background-image: url(img/festival-photo.jpg)")
                            .festivalsSlidePhotoGradient
                            a(href="#") Фото и видео
                        .festivalsSlideGuests(style="background-image: url(img/festival-guests.jpg)")

                            .festivalsSlideGuestsGradient
                            a(href="#") Наши гости
                .swiper-slide
                    .festivalsSlideImage(style="background-image: url(img/festival1.jpg)")
                        .festivalsSlideImageGradient
                        .festivalsSlideContent
                            time 21-23 марта
                            h2 ФЕСТИВАЛЬ В КАРЕЛИИ
                            p Петрозаводск, озеро Долгопрудное
                    .festivalsSlideMiddle
                        p Французское кондитерское изделие из яичных белков, сахарной пудры, сахарного песка, молотого миндаля и пищевых красителей. Обычно делается в форме печенья; между двумя слоями кладут крем или варенье. Название происходит от слова ammaccare (итал. maccarone/maccherone) — «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.Французское кондитерское изделие из яичных белков, сахарной пудры, сахарного песка, молотого миндаля и пищевых красителей. 
                    .festivalsSlideBottom
                        .festivalsSlidePhoto(style="background-image: url(img/festival-photo.jpg)")
                            .festivalsSlidePhotoGradient
                            a(href="#") Фото и видео
                        .festivalsSlideGuests(style="background-image: url(img/festival-guests.jpg)")
                            .festivalsSlideGuestsGradient
                            a(href="#") Наши гости

            .swiper-button-prev
                +svgIcon('iconSliderPrev')
            .swiper-button-next
                +svgIcon('iconSliderNext')
