extends _layout

block content
    .franchising
        .franchisingScroll
            +svgIcon('iconScroll')
        video.franchisingVideo
        .franchisingVideoCover
    .franchisingPage
        .franchisingScrollBlack
            +svgIcon('iconScroll')
        .franchisingPageWrap
            .franchisingPageColumn
                .franchisingImage
                    img(src="img/franchasing1.png", alt="")
                .franchisingContent
                    h2 ЛАВКА СЧАСТЬЯ
                    p Французское кондитерское изделие из яичных белков, сахарной пудры, сахарного песка, молотого миндаля и пищевых красителей. Обычно делается в форме печенья; между двумя слоями кладут крем или варенье. Название  от слова ammaccare (итал. maccarone/maccherone) — «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.
            .franchisingPageColumn
                .franchisingImage
                    img(src="img/franchasing2.png", alt="")
                .franchisingContent
                    h2 КОНДИТЕРСКАЯ СЧАСТЬЕ
                    p Французское кондитерское изделие из яичных белков, сахарной пудры, сахарного песка, молотого миндаля и пищевых красителей. Обычно делается в форме печенья; между двумя слоями кладут крем или варенье. Название  от слова ammaccare (итал. maccarone/maccherone) — «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.
            .franchisingPageColumn
                .franchisingImage
                    img(src="img/franchasing2.png", alt="")
                .franchisingContent
                    h2 РЕСТОРАНЫ СЧАСТЬЕ
                    p Французское кондитерское изделие из яичных белков, сахарной пудры, сахарного песка, молотого миндаля и пищевых красителей. Обычно делается в форме печенья; между двумя слоями кладут крем или варенье. Название  от слова ammaccare (итал. maccarone/maccherone) — «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.
