extends _layout

block content
    .main
        .restaurants
            .restaurantsSlogan.restaurantsSloganIsShow
                | СЧАСТЬЕ ПРИХОДИТЬ ТУДА, <br> ГДЕ ТЕБЕ РАДЫ, <br> И ВОЗВРАЩАТЬСЯ ВНОВЬ…
            .restaurant(style="background-image: url(img/issaki-medium.jpg)")
                .restaurantGradient
                .restaurantContent
                    h2 СЧАСТЬЕ на Невском
                    p Москва, ул. Рубинштейна 15-17
                    button.buttonOutline.js-showRestoran
                        | ПОДРОБНЕЕ О РЕСТОРАНЕ
                        +svgIcon('iconButtonArrow')
            .restaurant(style="background-image: url(img/moskow-medium.jpg)")
                .restaurantGradient
                .restaurantContent
                    h2 СЧАСТЬЕ на Невском
                    p Москва, ул. Рубинштейна 15-17
                    button.buttonOutline
                        | ПОДРОБНЕЕ О РЕСТОРАНЕ
                        +svgIcon('iconButtonArrow')
            .restaurant(style="background-image: url(img/petro-medium.jpg)")
                .restaurantGradient
                .restaurantContent
                    h2 СЧАСТЬЕ на Невском
                    p Москва, ул. Рубинштейна 15-17
                    button.buttonOutline
                        | ПОДРОБНЕЕ О РЕСТОРАНЕ
                        +svgIcon('iconButtonArrow')
            .restaurant(style="background-image: url(img/rubi-medium.jpg)")
                .restaurantGradient
                .restaurantContent
                    h2 СЧАСТЬЕ на Невском
                    p Москва, ул. Рубинштейна 15-17
                    button.buttonOutline
                        | ПОДРОБНЕЕ О РЕСТОРАНЕ
                        +svgIcon('iconButtonArrow')
        .restaurantPage
            .restaurantPageScroll
                +svgIcon('iconScroll')
            .restaurantDescription
                .restaurantDescriptionWrap
                    .restaurantDescriptionContent
                        p Французское кондитерское изделие из яичных, сахарной пудры, сахарного песка, молотого миндаля и пищевых красителей. Обычно делается в форме печенья; между двумя слоями кладут крем или варенье. Название происходит от слова ammaccare (итал. maccarone/maccherone) — «разбить, раздавить», и является отсылкой к способу изготовления основного ингредиента, миндального порошка.
                    .restaurantDescriptionTime
                        h3 ВРЕМЯ РАБОТЫ:
                        p пн-чт, вс: 09:00 - 00:00 </br> пт, сб 09:00 - 02:00 
                    .restaurantDescriptionPhone
                        h3 ТЕЛЕФОН ДЛЯ СВЯЗИ:
                        p +7 (812) 572-26-75
                    .restaurantDescriptionControl
                        button.buttonOutlineBlack ЗАБРОНИРОВАТЬ СТОЛ
                        button.buttonOutlineBlack.js-restaurant-back 
                            | ДРУГОЙ РЕСТОРАН
                            +svgIcon('iconButtonArrow')
            .restaurantMap
                .map#map
                script(src="https://maps.googleapis.com/maps/api/js")
        .restaurantPageGallery
            .restaurantPageGalleryScroll
                +svgIcon('iconScroll')
            .restaurantPageGallerySlider.swiper-container
                .swiper-wrapper
                    .swiper-slide(style="background-image: url(img/gallery-1.jpg)")
                        .restaurantSlideContent
                            h2 ГОСТИНАЯ
                            p Натуральные материалы и фактуры, обилие света и «теплые» детали интерьера. Счастье-это просто, органично и, главное, уютно.
                        //- img(src="img/moskow-medium.jpg", alt="")
                    .swiper-slide(style="background-image: url(img/gallery-2.jpg)")
                        .restaurantSlideContent
                            h2 ГОСТИНАЯ
                            p Натуральные материалы и фактуры, обилие света и «теплые» детали интерьера. Счастье-это просто, органично и, главное, уютно.
                        //- img(src="img/issaki-medium.jpg", alt="")
                    .swiper-slide(style="background-image: url(img/gallery-3.jpg)")
                        .restaurantSlideContent
                            h2 ГОСТИНАЯ
                            p Натуральные материалы и фактуры, обилие света и «теплые» детали интерьера. Счастье-это просто, органично и, главное, уютно.
                        //-img(src="img/petro-medium.jpg", alt="")
                .swiper-button-prev
                    +svgIcon('iconSliderPrev')
                .swiper-button-next
                    +svgIcon('iconSliderNext')
