extends _layout

block content
    .restaurantMenu
        .restaurantMenuBar
            .restaurantMenuImage
                img(src="img/menu_rest7.png", alt="")
            .restaurantMenuTitle
                a(href="#") 
                    span Бар
        .restaurantMenuKitchen
            .restaurantMenuImage
                img(src="img/menu_rest2.png", alt="")
            .restaurantMenuTitle
                a(href="#") 
                    span Кухня
        .restaurantMenuSummer
            .restaurantMenuImage
                img(src="img/menu_rest3.png", alt="")
            .restaurantMenuTitle
                a(href="#") 
                    span Лето в счастье
        .restaurantMenuDesert
            .restaurantMenuImage
                img(src="img/menu_rest1.png", alt="")
            .restaurantMenuTitle
                a(href="#") 
                    span Сладкое
        .restaurantMenuBreakfast
            .restaurantMenuImage
                img(src="img/menu_rest4.png", alt="")
            .restaurantMenuTitle
                a(href="#") 
                    span завтраки и&nbspбранчи
        .restaurantMenuKids
            .restaurantMenuImage
                img(src="img/menu_rest6.png", alt="")
            .restaurantMenuTitle
                a(href="#") 
                    span детское
        .restaurantMenuCard
            .restaurantMenuImage
                img(src="img/menu_rest5.png", alt="")
