extends _layout_scroll

block content
    .we
        .weContent
            .weContentGradient
            .weContentPhoto.weContentPhotoAngleBottomLeft
                img(src="img/we-about1.jpg", alt="")
            .weContentText
                h2 Лосево
                h3 бар-ресторан с авторской кондитерской
                p Сегодня СЧАСТЬЕ это рестораны в Москве и Санкт-Петербурге, которые созданы для теплых дружеских встреч с поводом и без. В основе - домашняя кухня с гастрономическим твистом, качественные и натуральные ингредиенты, которые несут пользу организму своим составом и природой происхождения. В общем, тут будет текст кто мы + история.Сегодня СЧАСТЬЕ это рестораны в Москве и Санкт-Петербурге, которые созданы для теплых дружеских встреч с поводом и без. В основе - домашняя кухня с гастрономическим твистом, качественные и натуральные.
            .weContentPhoto.weContentPhotoAngleTopLeft.weContentPhotoAngleBottomRight
                img(src="img/we-about2.jpg", alt="")
            .weContentText
                h2 Лосево
                h3 бар-ресторан с авторской кондитерской
                p Сегодня СЧАСТЬЕ это рестораны в Москве и Санкт-Петербурге, которые созданы для теплых дружеских встреч с поводом и без. В основе - домашняя кухня с гастрономическим твистом, качественные и натуральные ингредиенты, которые несут пользу организму своим составом и природой происхождения. В общем, тут будет текст кто мы + история.Сегодня СЧАСТЬЕ это рестораны в Москве и Санкт-Петербурге, которые созданы для теплых дружеских встреч с поводом и без. В основе - домашняя кухня с гастрономическим твистом, качественные и натуральные.
            .weContentPhoto.weContentPhotoAngleTopRight.weContentPhotoAngleBottomLeft
                img(src="img/we-about3.jpg", alt="")
        .weTeam
            .weTeamHeader
                h2 Команда счастья
                h3 Все кто с нами,верят в себя и то,что они делают
            .weTeamPersons
                .weTeamPersonsColumn
                    .weTeamPerson
                        img(src="img/we-team1.jpg", alt="")
                        .weTeamPersonName
                            | Игорь Белявский
                        .weTeamPersonPosition
                            | Генеральный директор,основатель
                        .weTeamPersonSlogan
                            | «Счастье это кто с нами, верят в себя и то, что они делают счастье это кто с нами, верят.»
                    .weTeamPerson
                        img(src="img/we-team3.jpg", alt="")
                        .weTeamPersonName
                            | Игорь Белявский
                        .weTeamPersonPosition
                            | Генеральный директор,основатель
                        .weTeamPersonSlogan
                            | «Счастье это кто с нами, верят в себя и то, что они делают счастье это кто с нами, верят.»
                    .weTeamPerson
                        img(src="img/we-team6.jpg", alt="")
                        .weTeamPersonName
                            | Игорь Белявский
                        .weTeamPersonPosition
                            | Генеральный директор,основатель
                        .weTeamPersonSlogan
                            | «Счастье это кто с нами, верят в себя и то, что они делают счастье это кто с нами, верят.»
                .weTeamPersonsCoolumn
                    .weTeamPerson
                        img(src="img/we-team2.jpg", alt="")
                        .weTeamPersonName
                            | Игорь Белявский
                        .weTeamPersonPosition
                            | Генеральный директор,основатель
                        .weTeamPersonSlogan
                            | «Счастье это кто с нами, верят в себя и то, что они делают счастье это кто с нами, верят.»
                    .weTeamPerson
                        img(src="img/we-team4.jpg", alt="")
                        .weTeamPersonName
                            | Игорь Белявский
                        .weTeamPersonPosition
                            | Генеральный директор,основатель
                        .weTeamPersonSlogan
                            | «Счастье это кто с нами, верят в себя и то, что они делают счастье это кто с нами, верят.»
                    .weTeamPerson
                        img(src="img/we-team5.jpg", alt="")
                        .weTeamPersonName
                            | Игорь Белявский
                        .weTeamPersonPosition
                            | Генеральный директор,основатель
                        .weTeamPersonSlogan
                            | «Счастье это кто с нами, верят в себя и то, что они делают счастье это кто с нами, верят.»
