extends _layout_scroll

block content
    .we
        .weContent
            .weContentGradient
            .weContentPhoto.weContentPhotoAngleBottomLeft
                img(src="img/we-providers1.jpg", alt="")
            .weContentText
                h2 Лосево
                h3 бар-ресторан с авторской кондитерской
                p Сегодня СЧАСТЬЕ это рестораны в Москве и Санкт-Петербурге, которые созданы для теплых дружеских встреч с поводом и без. В основе - домашняя кухня с гастрономическим твистом, качественные и натуральные ингредиенты, которые несут пользу организму своим составом и природой происхождения. В общем, тут будет текст кто мы + история.Сегодня СЧАСТЬЕ это рестораны в Москве и Санкт-Петербурге, которые созданы для теплых дружеских встреч с поводом и без. В основе - домашняя кухня с гастрономическим твистом, качественные и натуральные.
            .weContentPhoto.weContentPhotoAngleTopLeft.weContentPhotoAngleBottomRight
                img(src="img/we-providers2.jpg", alt="")
            .weContentText
                h2 Лосево
                h3 бар-ресторан с авторской кондитерской
                p Сегодня СЧАСТЬЕ это рестораны в Москве и Санкт-Петербурге, которые созданы для теплых дружеских встреч с поводом и без. В основе - домашняя кухня с гастрономическим твистом, качественные и натуральные ингредиенты, которые несут пользу организму своим составом и природой происхождения. В общем, тут будет текст кто мы + история.Сегодня СЧАСТЬЕ это рестораны в Москве и Санкт-Петербурге, которые созданы для теплых дружеских встреч с поводом и без. В основе - домашняя кухня с гастрономическим твистом, качественные и натуральные.
            .weContentPhoto.weContentPhotoAngleTopRight.weContentPhotoAngleBottomLeft
                img(src="img/we-providers3.jpg", alt="")
            .weContentText
                h2 Лосево
                h3 бар-ресторан с авторской кондитерской
                p Сегодня СЧАСТЬЕ это рестораны в Москве и Санкт-Петербурге, которые созданы для теплых дружеских встреч с поводом и без. В основе - домашняя кухня с гастрономическим твистом, качественные и натуральные ингредиенты, которые несут пользу организму своим составом и природой происхождения. В общем, тут будет текст кто мы + история.Сегодня СЧАСТЬЕ это рестораны в Москве и Санкт-Петербурге, которые созданы для теплых дружеских встреч с поводом и без. В основе - домашняя кухня с гастрономическим твистом, качественные и натуральные.
            .weContentPhoto.weContentPhotoAngleTopLeft.weContentPhotoAngleBottomRight
                img(src="img/we-providers2.jpg", alt="")
            .weContentText
                h2 Лосево
                h3 бар-ресторан с авторской кондитерской
                p Сегодня СЧАСТЬЕ это рестораны в Москве и Санкт-Петербурге, которые созданы для теплых дружеских встреч с поводом и без. В основе - домашняя кухня с гастрономическим твистом, качественные и натуральные ингредиенты, которые несут пользу организму своим составом и природой происхождения. В общем, тут будет текст кто мы + история.Сегодня СЧАСТЬЕ это рестораны в Москве и Санкт-Петербурге, которые созданы для теплых дружеских встреч с поводом и без. В основе - домашняя кухня с гастрономическим твистом, качественные и натуральные.
            .weContentPhoto.weContentPhotoAngleTopRight.weContentPhotoAngleBottomLeft
                img(src="img/we-providers3.jpg", alt="")
            .weContentText
                h2 Лосево
                h3 бар-ресторан с авторской кондитерской
                p Сегодня СЧАСТЬЕ это рестораны в Москве и Санкт-Петербурге, которые созданы для теплых дружеских встреч с поводом и без. В основе - домашняя кухня с гастрономическим твистом, качественные и натуральные ингредиенты, которые несут пользу организму своим составом и природой происхождения. В общем, тут будет текст кто мы + история.Сегодня СЧАСТЬЕ это рестораны в Москве и Санкт-Петербурге, которые созданы для теплых дружеских встреч с поводом и без. В основе - домашняя кухня с гастрономическим твистом, качественные и натуральные.
