extends _layout

block content
    .we
        .we-philosophy(style="background-image:url(img/we-philosophy-back.jpg)")
            .we-philosophy-manifest
                img(src="img/we-philosophy-back-paper.png", alt="")
