extends _layout

block content
    .we
        .wePages
            .wePage(style="background-image:url(img/we-about.jpg)")
                .wePageGradient
                a(href="/schastye/html/public/we-about.html") О НАС
            .wePage(style="background-image:url(img/we-philosophy.jpg)")
                .wePageGradient
                a(href="/schastye/html/public/we-philosophy.html") ФИЛОСОФИЯ
            .wePage(style="background-image:url(img/we-provider.jpg)")
                .wePageGradient
                a(href="/schastye/html/public/we-provide.html") ПОСТАВЩИКИ
