.contact
    display block
    box horizontal top
    height 100vh
    width 100%
.contactImage
    flex 0 1 auto
    width 50%
    align-self stretch
    background-repeat no-repeat
    background-size cover
    background-position center center
.contactContent
    flex 0 1 auto
    width 50%
    box vertical middle
    align-self stretch
    padding 0 10% 0 80px
    background-color #fff9ea

.contactInfo
    display block
    margin-bottom 50px
    h3
        font-family 'Raleway', sans-serif
        font-size 16px
        line-height 18px
        font-weight 400
        letter-spacing 0.11em
        margin-bottom 20px
        color #4a4a4a

    h4
        font-family 'Raleway', sans-serif
        font-size 16px
        line-height 18px
        font-weight 400
        letter-spacing 0.11em
        margin-bottom 5px
        color #4a4a4a

    p
        font-family 'Raleway', sans-serif
        font-size 14px
        line-height 18px
        font-weight 200
        letter-spacing 0.11em
        color #4a4a4a
    a
        display block
        font-family 'Raleway', sans-serif
        font-size 14px
        line-height 18px
        font-weight 200
        letter-spacing 0.11em
        color #4a4a4a
        text-decoration none

.contactForm
    display block
    clear fix
.contactFormHeader
    font-family 'Raleway', sans-serif
    font-size 18px
    line-height 18px
    font-weight 200
    letter-spacing 0.11em
    color #4a4a4a
    text-transform uppercase
    margin-bottom 18px
    color #4a4a4a
.contactFormItem
    display block
    margin-bottom 10px

.contactFormSubmit
    text-align right
