.main
    display block
    position relative
    width 100vw
    height 100vh
    overflow hidden
.restaurants
    display block
    position relative
    width 100%
    height 100%
    box horizontal top space-between
    overflow hidden
    transition all .4s ease
.restaurantsSlogan
    display block
    position absolute
    top center
    left 130px
    font-family 'Raleway', sans-serif
    font-size 28px
    font-weight 300
    letter-spacing 0.08em
    text-transform uppercase
    color #fff
    z-index 1000
    opacity 0
    pointer-events none
.restaurantsSloganIsShow
    opacity 1
    visibility visible
.restaurant
    position relative
    flex 1 1 25%
    width 25%
    height 100%
    background-repeat no-repeat
    background-size cover
    background-position center center
    transition all .4s ease
.restaurantGradient
    display block
    size 100%
    opacity .72
    background-image linear-gradient(to top, rgba(0,0,0,0), #000000)
    transition opacity .3
    will-change opacity
.restaurantContent
    display block
    position absolute
    padding-left 69px
    bottom 81px
    transition all .4s ease
    transform translateY(100%)
    visibility hidden
    opacity 0
    h2
        display block
        position relative
        font-family 'Raleway', sans-serif
        font-size 28px
        font-weight 300
        letter-spacing 0.08em
        margin-bottom 32px
        color #fff
        &:after
            display block
            position absolute
            content ' '
            size 104px 2px
            background-color #FFF
            bottom -18px
    p
        font-family 'Raleway', sans-serif
        font-size 16px
        font-weight 600
        letter-spacing 0.08em
        margin-bottom 32px
        color #fff
        margin-bottom 85px

.restaurantIsHover
    flex 1 1 80%
    width 80%
    .restaurantGradient
        opacity 0
    .restaurantContent
        transform translateY(0)
        opacity 1
        visibility visible

.restaurantsIsActive
    top 0
    height 50%
    .restaurant
        flex 0 0 0%
        width 0%
    .restaurantsSlogan
        opacity 0
        visibility hidden
    .restaurantIsPage
        flex 1 1 100%
        width 100%
.restaurantIsPage
    .restaurantGradient
        opacity .72
        background-image linear-gradient(to bottom, rgba(0,0,0,0), #000000)
    .restaurantContent
        transform translateY(0)
        opacity 1
        visibility visible
        padding-left 130px
        p
            margin-bottom 0px
        button
            display none
