.restaurantPage
    display block
    position relative
    width 100%
    height 50vh
    background-color #fff9ea
    box horizontal top
.restaurantPageScroll
    position absolute
    bottom 20px
    left center
    z-index 3000
    svg
        size 22px 30px
        stroke #000
.restaurantDescription
    flex 0 1 auto
    width 50%
    height 100%
    padding 60px 30px
    box horizontal top center
.restaurantDescriptionWrap
    flex 0 1 auto
    max-width 650px
.restaurantMap
    flex 0 1 auto
    width 50%
    height 100%

.restaurantDescriptionContent
    display block
    margin-bottom 16px
    p
        font-family 'Raleway', sans-serif
        font-size 14px
        line-height 20px
        font-weight 200
        letter-spacing 0.11em
        text-align justify
        color #4a4a4a
.restaurantDescriptionTime,
.restaurantDescriptionPhone
    display block
    margin-bottom 16px
    h3
        font-family 'Raleway', sans-serif
        font-size 14px
        font-weight 600
        letter-spacing 0.17em
        color #4a4a4a
    p
        font-family 'Raleway', sans-serif
        font-size 16px
        line-height 21px
        font-weight 300
        letter-spacing 0.09em
        color #4a4a4a
.restaurantDescriptionControl
    display block
    margin-bottom 16px
    button
        margin-right 10px

.map
    size 100%
